<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Reversed Name</title>

</head>

<body>

	<h2>Reversed Name</h2>

	<p>Your name in reverse order: <%= @reversed_name %></p>

</body>

</html>

 